body {
	// display: flex;
	// justify-content: center;
	max-width: 100%;
}

.wrapper {
	width: 100%;
	background-color: white;
	position: relative;
	border-top: 5px solid $seconday-color;
	border-bottom: 5px solid $seconday-color;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
	@include montserratRegular;

	p {
		@include robotoRegular;
	}

	@include mediaQuery-desktop(768px) {
		width: 80%;
		// margin: 0 auto;
		margin: 0 10%;
		padding: 0 5%;
	}
}
